@import url("fonts.css");
@import url("mobileStyle.css");
@import url("mobileGuesses.css");
@import url("mobileAutocomplete.css");

@media only screen and (min-width: 600px){
	.gametitle {
		font-size: 4vw;
		margin-top: 1vw;
	}
	
	.top-bar {
		font-size: 3vh;
	}
	

	.autocomplete {
		width: 40%;
		height: 1em;
	}

	input {
		font-size: 1vw;
	}

	.autocomplete-items {
		font-size: 1rem;
		top: 2.2rem;
	}

	.guessesheader {
		margin-top: 2%;
		width: 80%;
		margin-left:auto;
		margin-right:auto;
		font-size: 1.5vw;
	}

	.guesses {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5vw;
	}

	.guess {
		height: 2em;
		line-height: 100%;
	}

	.text-block img {
		max-height: 1.5em;
		float: left;
	}

	.guessesheader-cell:nth-child(1) { width:20%; }		
	.guessesheader-cell:nth-child(2) { width:14%;}
	.guessesheader-cell:nth-child(3) { width:15%;}
	.guessesheader-cell:nth-child(4) { width:10%;}
	.guessesheader-cell:nth-child(5) { width:8.5%;}
	.guessesheader-cell:nth-child(6) { width:8.5%;}
	.guessesheader-cell:nth-child(7) { width:24%;}


	.guess .text-block:nth-child(1) span{width:70%;}
	.guess .text-block:nth-child(1) { width:20%;}		
	.guess .text-block:nth-child(2) { animation-delay:0.125s; width:14%;}
	.guess .text-block:nth-child(3) { animation-delay:0.25s; width:15%;}
	.guess .text-block:nth-child(4) { animation-delay:0.375s; width: 10%;}
	.guess .text-block:nth-child(5) { animation-delay:0.5s;width:8.5%;word-spacing: initial;}
	.guess .text-block:nth-child(6) { animation-delay:0.65s;width:8.5%; word-spacing: initial;}
	.guess .text-block:nth-child(7) { animation-delay:0.725s;width:24%;}


	.gameovermodal {
		max-width: 15em;
		font-size: 2vw;
		text-align: center;
	}
	
	.gameovermodal .modal-content{
		font-family: NotoSans;
		color: white;
		background: none;
		opacity: 1;
		backdrop-filter: blur(15px);
	}
	
	.gameovermodal img{
		max-height: 3em;
		width:auto;
		box-shadow: 0 0 0 0 2em black;
	}

	.gameovermodal .rightAnswer {
		display: inline-block;
		height: 3em;
		margin-bottom: 0.1em;
		text-indent: 10px;
		line-height: 1.5em;
		width: 70%;
		text-align: justify;
		margin-left: auto;
		margin-right: auto;
		font-size: 100%;
		font-family: Stratum2Bold;
	}

	.gameovermodal .rightAnswer p:nth-child(2){
		margin-bottom: 0;
		text-shadow: 0 0 0.5em black;
	}

	.gameovermodal .rightAnswer p:nth-child(3){
		font-family: NotoSansThin;
		font-size: 80%;
		margin-bottom: 0;
	}

}

body{
    font-family: Helvetica85;
	background-color:#f5f2ec;
	color: #313131;
	background-image: url('https://qu.ax/yEh.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height:100vh;
	width:100vw;
	overflow: overlay;
	margin: 0;
}



