@import url("fonts.css");
@import url("autocomplete.css");
@import url("guesses.css");

@keyframes backgroundAnimation{

}

h1 {
	font-family: Helvetica85;
	color: #5d79ae;
}
body{
    font-family: Helvetica85;
	background-color:#f5f2ec;
	color: #313131;	
	margin: 0;
	background-image: url('https://i.imgur.com/Mmyk3uY.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	
}

h1 {
	text-align:center;
}


.top-bar {
	display:flex;
	width:100vw;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: center;	
	font-family: Helvetica85;
	font-size: 100%;
	letter-spacing: 2px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(to right, #2a333b 10%, #404950 50%, #2a333b 90%);
	border-top: outset 2px rgb(76,85,93, 0.3);
	border-bottom: outset 2px rgba(76,85,93, 0.3);
}

.top-bar span{
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:50px;
	padding-right:50px;
	font-size: 200%;
	font-family: Stratum2Medium;
	border-left: solid 2px #272c2f;
	border-right: solid 2px #272c2f;	
}

.top-bar span:nth-child(1){
	border-right: none;
}

.bottom-bar {
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
	display:flex;
	background-color:#272e6f;
	height:120px;
	width:100vw;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-content: center;
	font-family: Helvetica85;
	font-size: 14px;
	letter-spacing: 2px;
	color: white;
}

.gametitle {
	width: 300px;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	color:white;
	font-size: 300%;
	align-items: center;
	justify-content: center;
	font-family: Helvetica85;
	margin-bottom:50px;
	border-radius: 15px;
	letter-spacing: 2px;	
	border: 3px solid;
	box-shadow: 0 0 10px black;		
	background: linear-gradient(to right, #272e6f 50% , #f99d1c 50%);
}


.maingame {
	margin-top:0px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top:50px;
	min-height:800px;
	min-width:1600px;
	width:100%;
	height:100vh;
	margin-left:auto;
	margin-right:auto;
	backdrop-filter: blur(5px) brightness(70%);
}



#discord {
	position:fixed;
	bottom: 1em;
	left:1em;
	height:100px;
	width:100px;
}

.statsmodal {
	width:500px;
}


.gameovermodal {
	text-align: center;
	width:400px;
}

.gameovermodal img {
	max-width:300px;
	max-height:200px;
	width:auto;
	height:auto;
}