/* AUTOCOMPLETE */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height: 2vw;
    color: white;
    font-family: LucidaConsole;
  }
  
  input {
    color: white;
    outline: none;
    border-style: inset;
    border-color: black white white black;
    border-width: 1px;
  }


  input[type=text] {
    font-family: LucidaConsole;
    background-color: #3e3e3e;
    width: 100%;
    height: 2em;
    font-size: 3vw;
  }
  input[type=submit] {
    background-color: #e9e9e9;
    color: black;
  }
  .autocomplete-items {
    font-size: 3vw;
    width:99.9%;
    position: absolute;
    margin-left:auto;
    margin-right:auto;
    z-index: 6;
    /*position the autocomplete items to be the same width as the container:*/
    top: 2em;
    left: 0;
    right: 0;
    overflow-y: auto;
  }
  
  .autocomplete-items div {
    cursor: pointer;
    background-color: #3e3e3e;
  }
  
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
    color:black;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #e9e9e9 !important;
    color: black	;
  }
  /* AUTOCOMPLETE  END*/
  